/**
* --Swatch-------
* Yellow: d1cc28
* Red: c92603
* Green: 249940
* Blue: 0054aa
*/
@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #d1cc28;
    overflow-x: hidden;
    font-family: 'League Gothic', Arial, sans-serif;
    font-size: 24px;
}

main {
    width: 90%;
    text-align: center;
    overflow-x: hidden;
    position: relative;
}

footer {
    font-family: 'League Gothic', Arial, sans-serif;
    font-size: 18px;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    color: whitesmoke;
    background-color: rgb(50, 50, 50);
}

@keyframes ftan {
    from {
        bottom: -100px;
        opacity: 0.4;
    } 
    to {
        bottom: 0px;
        opacity: 1;
    }
}

#site_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

@keyframes bgan {
    from {
        left: -800px;
        opacity: 0.4;
    } 
    to {
        left: 0px;
        opacity: 1;
    }
}

@media screen and (max-width: 660px) {
    #site_bg {
        margin-left: -200px;
        height: 100%;
        width: auto;
    }
}

@media screen and (min-width: 661px) and (max-width: 960px) {
    #site_bg {
        margin-left: -150px;
        height: 100%;
        width: auto;
    }
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
    #site_bg {
        margin-left: -100px;
        height: 100%;
        width: auto;
    }
}

nav > ul {
    padding-top: 300px;
    list-style: none;
}

.buffer {
    padding-bottom: 50px;
    margin-top: 150px;
}

@media screen and (min-width: 1000px) {
    .buffer {
        padding-bottom: 50px;
        margin-top: 50px;
    }
}

.menu_option {
    background-color: #2d2930;
    color: snow;
    padding: 10px;
    outline: 2px solid snow;
    outline-offset: -5px;
    margin-left: 30%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 450px;
}

.ar1 {
    position: relative;
}

.ar2 {
    position: relative;
}

.ar3 {
    position: relative;
}

.ar4 {
    position: relative;
}

@keyframes ara {
    from {
        right: -300px;
        opacity: 0;
    } 
    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes arb {
    from {
        right: -500px;
        opacity: 0;
    } 
    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes arc {
    from {
        right: -650px;
        opacity: 0;
    } 
    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes ard {
    from {
        right: -800px;
        opacity: 0;
    } 
    to {
        right: 0;
        opacity: 1;
    }
}

.hr1 {
    border-style: solid;
    border-color: snow;
    position: relative;
}

@keyframes hra {
    from {
        left: -300px;
        opacity: 0;
        border-width: 30px;
        margin-left: 0%;
    } 
    to {
        left: 0;
        opacity: 1;
        border-width: 1px;
        margin-left: 60%
    }
}

.ar5 {
    position: relative;
}

@keyframes arf {
    from {
        bottom: -300px;
        opacity: 0;
    } 
    to {
        bottom: 0;
        opacity: 1;
    }
}

.ar6 {
    position: relative;
}

@keyframes arg {
    from {
        bottom: -400px;
        opacity: 0;
    } 
    to {
        bottom: 0;
        opacity: 1;
    }
}

.ar7 {
    position: relative;
}

@keyframes arh {
    from {
        bottom: -450px;
        opacity: 0;
    } 
    to {
        bottom: 0;
        opacity: 1;
    }
}

.menu_option:hover {
    color: #d1cc28;
    outline-color: #d1cc28;
}

.menu_option:hover > .opt {
    letter-spacing: 12px;
}

.opt {
    padding-left: 30px;
    font-size: 30px;
    letter-spacing: 3px;
}

.menu_hr {
    width: 100%;
}

@media screen and (min-width: 661px) and (max-width: 960px) {
    .menu_option, .menu_hr {
        margin-left: 45%;
        margin-right: 8%;
    }
    .opt {
        padding-left: 60px;
        letter-spacing: 5px;
    }
}

@media screen and (min-width: 961px) and (max-width: 1400px) {
    .menu_option, .menu_hr {
        margin-left: 60%;
        margin-right: 5%;
    }
    .opt {
        padding-left: 75px;
        letter-spacing: 7px;
    }
}

@media screen and (min-width: 1401px) {
    .menu_option, .menu_hr {
        margin-left: 60%;
        margin-right: 8%;
    }
    .opt {
        padding-left: 90px;
        letter-spacing: 9px;
    }
}

h1 {
    font-size: 90px;
    text-shadow: 2px 2px snow,
                 2px -2px snow,
                 -2px 2px snow,
                 -2px -2px snow;
                 margin-bottom: 0px !important;
}

h2 {
    font-size: 50px;
    color: snow;
    text-shadow: 2px 2px #000000,
                 2px -2px #000000,
                 -2px 2px #000000,
                 -2px -2px #000000;
                 margin-bottom: 0px !important;
}

.page_title {
    position: absolute;
    right: 7%;
    top: 50px;
}

@media screen and (min-width: 1200px) {
    .page_title {
        right: 5%;
    }
}

@media screen and (min-width: 1400px) {
    .page_title {
        right: 10%;
    }
}

.first_name {
    position: relative;
}

@keyframes fnam {
    from {
        right: -600px;
        opacity: 0;
    } 
    to {
        right: 0;
        opacity: 1;
    }
}

.last_name {
    color: snow;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-shadow: 2px 2px #000000,
                 2px -2px #000000,
                 -2px 2px #000000,
                 -2px -2px #000000;
    position: relative;
}

@keyframes lnan {
    from {
        top: -800px;
        opacity: 0;
    } 
    to {
        top: 0;
        opacity: 1;
    }
}

a, a:hover {
    text-decoration: none;
}

.modal {
    display: none;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    z-index: 10;
}

.modal-inner {
    position: fixed;
    overflow-x: hidden;
    border: 4px solid #2d2930;
    background-color: snow;
    z-index: 10;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 15%;
}

@media (min-width: 960px) {
    .modal-inner {
        top: 10%;
        left: 5%;
        right: 5%;
        bottom: 15%;
    }
}

.overlay {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.modal-inner > a > img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 10;
}

@media screen and (max-width:550px) {
    .modal-inner > img {
        max-width: 600px;
        max-height: 500px;
    }
}

@media screen and (min-width:601px) and (max-width:960px) {
    .modal-inner > img {
        max-width: 960px;
        max-height: 840px;
    }
}

@media screen and (min-width:961px) and (max-width:1200px) {
    .modal-inner > img {
        max-width: 1200px;
        max-height: 1080px;
    }
}

.modal-inner > p {
    color: #000000;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 20px;
    z-index: 10;
}

@media screen and (min-width: 961px) {
    .modal-inner > p {
        margin-left: 12%;
        margin-right: 12%;
    }
}

.alfa {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 30%;
    height: 100%;
}

@media screen and (min-width: 661px) and (max-width: 960px) {
    .alfa {
        width: 45%;
    }
}

@media screen and (min-width: 961px) {
    .alfa {
        width: 60%;
    }
}

@media (min-width: 961px) {
    footer {
        animation: ftan 2.0s;
    }
    #site_bg {
        animation: bgan 2.8s;
    }
    .ar1 {
        animation: ara 0.8s;
    }
    
    .ar2 {
        animation: arb 1.2s;
    }
    
    .ar3 {
        animation: arc 1.4s;
    }
    
    .ar4 {
        animation: ard 1.5s;
    }
    .hr1 {
        animation: hra 1.5s;
    }
    .ar5 {
        animation: arf 1.5s;
    }
    .ar6 {
        animation: arg 2s;
    }
    .ar7 {
        animation: arh 2.5s;
    }
    .first_name {
        animation: fnam 1.5s;
    }
    .last_name {
        animation: lnan 1.7s;
    }
}